div.window-container {
  min-width: 640px;
  min-height: 360px;
  width: 1280px;
  height: 720px;
  left: 50px;
  top: 50px;
  background-color: #1d1d1d;
  box-shadow: inset 0 0 0 1px #4f4f4f;
  position: absolute;
  padding: 0;
  margin: 0;
  border-radius: 5px;
  user-select: none;
  overflow: auto;

  div.window-nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 28px;
    background-color: #222222;
    box-shadow: inset 0 0 0 1px #4f4f4f;
    padding: 0;
    margin: 0;
    position: absolute;
    border-radius: 5px 5px 0px 0px;

    div.window-title {
      padding: 7px 12px;
      font-size: 0.625rem;
      font-weight: 100;
      color: white;
    }

    ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      padding: 0;
      margin: 0;

      li {
        list-style: none;
        width: 14px;
        height: 14px;
        font-size: 0.8rem;
        padding: 7px 12px;
        color: white;
        text-align: center;
      }

      li:last-child {
        border-radius: 0 5px 0 0;
      }

      li:not(:last-child):hover {
        background-color: rgba(255, 255, 255, .2);
      }

      li:last-child:hover {
        background-color: #EC4C4C;
      }

      li:not(:last-child):active {
        background-color: rgba(255, 255, 255, .1);
      }

      li:last-child:active {
        background-color: #DC3939;
      }
    }
  }
}

div.window-container {
  resize: both;
}